<footer class="footer">
	<strong>
		Made by: Karam Talwandi
	</strong>
	<nav>
		<ul>
			<li><a href="https://github.com/kpstalwa/friendbook" class="fa fa-github" target="_blank" style="font-size:36px;color:black"></a></li>
			<li><a href="https://www.linkedin.com/in/kpstalwa/" class="fa fa-linkedin" target="_blank" style="font-size:36px;color:black"></a><</li>
			<li><a href="mailto:k.talwandi@hotmail.com" class="fa fa-envelope" style="font-size:36px;color:black"></a>

			</li>
		</ul>
	</nav>
</footer>